.column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 300px;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 300px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 2rem;
    aspect-ratio: 1/1;
  }
}
