.item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;

  h4 {
    font-weight: 500;
    font-size: 18px;
  }

  p {
    font-weight: 300;
  }

  span {
    font-size: 12px;
  }
}

.item:hover {
  // background-color: rgb(235, 235, 235);
}
