.columnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.backButton {
  width: 2rem;
  aspect-ratio: 1/1;
}

@media (orientation: portrait) {
  .columnsContainer {
    flex-direction: column;
  }
}
